.javascript-practice {
    font-size: 16px;
    font-family: monospace;
    color: white;
    display: flex;
}
.javascript-practice p{
    padding: 0 5px;
}
.project-item {
    width: 220px;
    height: 220px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    box-shadow: 11px 15px 13px 3px #846b6b;
}

.project-item:hover, .graphics-item:hover {
    box-shadow: 17px 20px 13px 3px #846b6b;
}
.little-projects-container{
    margin-left: 40%;
}
.little-projects-container .row {
    margin: 15px 0;
}
.little-projects-container a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.little-projects-container a:hover {
    font-size: 20px;
    font-weight: bold;
}

.local-tapas {
    background-image: url("./../images/background.jpg");
}

.local-tapas-desc {
    background: #2e1e1e94;
    width: fit-content;
}

.speech-detection {
    background-color: #861054;
}

.graphics-item {
    display: inline-block;
    width: 280px;
    height: 180px;
    padding: 3px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
    box-shadow: 11px 15px 13px 3px #846b6b;
    opacity: 1;
}

.graphics-item img {
    height: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.graphics-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 39px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    display: flex;
    flex-direction: inherit;
}

.model-content-item.content-img {
    width: 60%;
    border-right: 2px solid #d3d3d3;
    padding-right: 20px;
}

.model-content-item.content-desc {
    width: 36%;
}

.graphics-desc {
    font-family: monospace;
    margin-top: 120px;
    margin-left: 20px;
    color: #bf1b39;
    font-size: 14px;
}

.model-content-item {
    display: inline-block;
}

.graphics-img {
    width: 100%;
}

@media only screen and (min-width: 1920px) {
    .project-item {
        font-size: 27px;
        width: 400px;
        height: 400px;
    }

    .little-projects-container a {
        font-size: 22px;
    }

    .little-projects-container a:hover {
        font-size: 26px;
    }

    .graphics-item {
        width: 450px;
        height: 300px;
    }

    .graphics-desc {
        font-size: 23px;
    }

    .close {
        font-size: 74px;
    }
}

@media only screen and (min-width:992px) and (max-width: 1024px) {
    .project-item {
        font-size: 15px;
        width: 184px;
        height: 184px;
    }

    .little-projects-container a {
        font-size: 15px;
    }

    .little-projects-container a:hover {
        font-size: 17px;
    }

    .graphics-item {
        width: 189px;
        height: 138px;
    }
}

@media only screen and (max-width: 991px) {
    .javascript-practice{
        margin-bottom: 10px;
        font-size: 12px;
    }
    .project-item {
        width: 200px;
        height: 200px;
    }
    .project-item {
        padding-top: 30px;
    }
    .portfolio-active-section .graphics-modal {
        padding-top: 100px;
        margin-top: 0;
    }
    .modal-content {
        width: 90%;
    }
}
@media only screen and (max-width: 575px) {
    .little-projects-container .row{
        justify-content: center;
    }
}
