.skills-container {
    margin: 40px 75px 55px 620px;
    font-size: 16px;
}

.skill-bar {
    height: 20px;
    width: 360px;
    background: #d3d3d385;
    display: inline-block;
    border-radius: 20px;
}

.technology-item {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.technology-name {
    font-family: monospace;
    display: inline-block;
    width: 200px;
}

.skill-percentage {
    background: #94d495;
    height: 100%;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
}

@media only screen and (min-width: 1920px) {
    .skills-container {
        margin-left: 900px;
        font-size: 30px;
    }

    .technology-name {
        width: 320px;
    }

    .skill-bar {
        height: 30px;
        width: 600px;
    }

    .skill-percentage {
        font-size: 22px;
    }
}

@media only screen and (max-width: 1024px) {
    .skills-container {
        margin: 40px 75px 55px 548px;
        font-size: 15px;
    }

    .technology-name {
        width: 153px;
    }

    .skill-bar {
        height: 16px;
        width: 229px;
    }

    .skill-percentage {
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {
    .skills-container {
        margin: 246px 0 0 60px;
    }
}